/* color */
$theme-color: #00e1ef;

$dark-black: #111111;
$white: #ffffff;
$grey-white: #f3f3f3;
$grey: #aeaeae;
$light-grey: #e2e2e2;


/* backgroud-color */
$dark-bg-color: #26292c;
$thick-dark-bg-color: #191e2a;
/* border-color */
$border-color: $grey;

/* sidebar-menu */
$menu-bg: $dark-bg-color;
$sub-menu-bg: #3a4149;
$menu-active-color: $theme-color;
$menu-hover-bg: #1f252e;

